<div>
  <!-- make a ng-template and a ngTemplateOutlet and once the
  to do has been entered place the written down todo instead of the input field     -->

  <!-- https://material.angular.io/components/list/overview#selection-lists
 maybe use list with selection? have to somehow wrap the single items with a list..    -->
  <ng-template #inputField>
    <div class="inputWrapper">
      <div class="FormFieldWrapper">
        <mat-form-field class="itemFormField">
          <mat-label>Enter To Do</mat-label>
          <input
            (keydown.enter)="SaveInput()"
            [(ngModel)]="itemDto!.task"
            matInput
          />
          @if (itemDto!.task) {
          <button
            matSuffix
            mat-icon-button
            aria-label="Clear"
            (click)="itemDto!.task = ''"
          >
            <mat-icon>close</mat-icon>
          </button>
          }
        </mat-form-field>
      </div>
      @if (itemDto!.task) {
      <div class="sendButton">
        <button mat-mini-fab (click)="SaveInput()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      } @else if (! itemDto!.id) {
      <div class="undoButton">
        <button mat-mini-fab color="undo" (click)="removeInputField()">
          <mat-icon>undo</mat-icon>
        </button>
      </div>
      }
    </div>
  </ng-template>

  <ng-template #submittedItem>
    <div class="itemWrapper">
      <mat-card appearance="outlined" class="matCardSubmittedItem">
        <mat-card-content>
          <div class="contentContainer">
            <div class="itemContainer">{{ itemDto?.task }}</div>
            <div class="buttonContainer">
              <div class="checkButton">
                <button
                  mat-mini-fab
                  color="check"
                  aria-label="checkCircle"
                  (click)="checkItem()"
                >
                  <mat-icon class="checkIcon">check circle</mat-icon>
                </button>
              </div>

              <div class="updateButton">
                <button
                  mat-mini-fab
                  color="update"
                  aria-label="checkCircle"
                  (click)="goInInsertMode()"
                >
                  <mat-icon class="updateIcon">edit</mat-icon>
                </button>
              </div>

              <div class="deleteButton">
                <button
                  color="delete"
                  mat-mini-fab
                  aria-label="button for deleting this item"
                  (click)="deleteItem()"
                >
                  <mat-icon class="deleteIcon">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

  <ng-template #completedItem>
    <div class="itemWrapper">
      <mat-card appearance="outlined" class="matCardCompletedItem">
        <mat-card-content >
          <div class="contentContainer">
            <div class="itemContainer">{{ itemDto?.task }}</div>
            <div class="buttonContainer">

              <div class="reactivateButton">
                <button
                  mat-mini-fab
                  color="update"
                  aria-label="reactivateItem"
                  (click)="reactivateItem()"
                >
                  <mat-icon class="reactivateIcon">undo</mat-icon>
                </button>
              </div>

              <div class="deleteButton">
                <button
                  color="delete"
                  mat-mini-fab
                  aria-label="button for deleting this item"
                  (click)="deleteItem()"
                >
                  <mat-icon class="deleteIcon">delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>

  <ng-container
    *ngTemplateOutlet="defineTemplate()"
  ></ng-container>
</div>
