.contentContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
}

.itemWrapper {
    margin-top: 5px;
}

.itemFormField {
  width: 100%;
}

.sendButton {
  margin-left: 10px;
  margin-bottom: 21.5px;
}

.undoButton {
  margin-left: 10px;
  margin-bottom: 21.5px;
}
.mat-form-field {
  display: flex;
  align-items: center;
}

.FormFieldWrapper {
  width: 100%;
}

.itemContainer {
    flex-grow: 1;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}
.deleteButton {
    margin-right: 10px;
}


.checkButton {
    margin-left: 10px;
}
.mat-check {
    background-color: #35653f !important;
    color: #fff;
} 

.mat-delete {
    background-color: #9d164cd9;
    color: #fff;
}

.mat-undo {
    background-color: rosybrown;
    color: #fff;
}
.mat-update {
    background-color:rosybrown;
    color: #fff;
}